<div class="home-container">
  <div class="welcome-box">
    <ng-container *ngIf="username; else noUser">
      <h3>Welcome, {{ username }}!</h3>
    </ng-container>
    <ng-template #noUser>
      <h3>Welcome to WON SURVEY!</h3>
    </ng-template>
    <p>Create, participate, and analyze surveys at your fingertips.</p>
    <div class="signin-container">
      <ng-container *ngIf="isAuthenticated$ | async; else showLogin">
        <a (click)="onLogout()" class="signin-btn">Log Out</a>
      </ng-container>
      <ng-template #showLogin>
        <a routerLink="/login" class="signin-btn">Log In</a>
      </ng-template>
    </div>
  </div>
</div>
