.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 20px;
}

.welcome-box {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.signin-container {
  margin: 40px 0 20px 0;
}


.signin-btn {
  background-color: hsl(210, 54%, 52%);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}



