.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 100px auto 20px auto;
}

.registration-container h2 {
  margin-top: 0;
}


.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: hsl(210, 54%, 52%);
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  font-size: 1em;
  width: 100%;
}

.error {
  color: red;
}
